<?xml version="1.0"?>
<config>
    <modules>
        <LDusan_QueryTrace>
            <version>1.0.0</version>
        </LDusan_QueryTrace>
    </modules>
    <global>
        <models>
            <ldusan_querytrace>
                <class>LDusan_QueryTrace_Model</class>
            </ldusan_querytrace>
        </models>
        <helpers>
            <ldusan_querytrace>
                <class>LDusan_QueryTrace_Helper</class>
            </ldusan_querytrace>
        </helpers>
        <blocks>
            <ldusan_querytrace>
                <class>LDusan_QueryTrace_Block</class>
            </ldusan_querytrace>
            <core>
                <rewrite>
                    <profiler>LDusan_QueryTrace_Block_Core_Profiler</profiler>
                </rewrite>
            </core>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <ldusan_querytrace>
                    <file>ldusan_querytrace.xml</file>
                </ldusan_querytrace>
            </updates>
        </layout>            
    </frontend>
    <default>
        <dev>
            <ldusanquerytrace>
                <enable>0</enable>
                <hidedefault>0</hidedefault>
            </ldusanquerytrace>
        </dev>
    </default>
</config>
